@model Estate; 
@{
    ViewData["Title"] = "Emlak Detaylar";
}

<div class="mt-3 mb-4">
    <h3 class="d-inline">Emlak Detayları <a class="btn btn-warning" asp-controller="Estate" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-user-edit"></i></a></h3>
</div>
<hr />
<div class="row mt-5">
    <div class="col-3">
        <p><b>Sahibi</b></p>
        <p><b>Satış Tipi</b></p>
        <p><b>Fiyat</b></p>
        <hr />
        <p><b>Şehir</b></p>
        <p><b>İlçe</b></p>
        <p><b>Adres</b></p>
        <hr />
        <p><b>Kat</b></p>
        <p><b>Bina Kat Sayısı</b></p>
        <p><b>Oda Sayısı</b></p>
        <p><b>Metrekare</b></p>
        <hr />
        <p><b>Son Düzenleme Tarihi</b></p>
    </div>
    <div class="col-9">
        <p><a asp-controller="Customer" asp-action="Details" asp-route-id="@Model.CustomerId">@Model.Customer.Fullname</a></p>
        <p>@Model.EstateType.Type</p>
        <p>@(Model.Price)₺</p>
        <hr />
        <p>@Model.District.City.Name</p>
        <p>@Model.District.Name</p>
        <p>@Model.Address</p>
        <hr />
        <p>@Model.Floor</p>
        <p>@Model.TotalNumberOfBuildingFloors</p>
        <p>@Model.NumberOfRooms</p>
        <p>@Model.SquareMeter</p>
        <hr />
        <p>@Model.ModifiedDate.ToLocalTime()</p>
    </div>
</div>

